body{
    font-family: cursive;
    background-image: url(hatter.jpg);
    border: 10px solid gray;
}
div{
    text-align:right
}
.ritka{
    
}
img{
    width:40%;
    box-shadow: 8px 8px 5px gray;
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
    border-radius: 10px;
    border-style: solid;
}
input{
    font-family:cursive; 
    font-weight: bold;
    border-radius: 5px;   
}