body{
    margin: 0;
    background-image: url(hatter.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    height: 58px;
    margin: 0;
    padding: 8px 0;
    color: #3366FF;
}

h2{
	height: 38px;
    margin: 0;
    padding: 4px 0;
    color: #3366FF;
}

p{
    text-align: center;
    height: 58px;
    margin: 0;
    padding: 4px 0;
    background-color: #333;
    color: white;
    width: 100%;
}

img{
    border: dotted 5px blue;
    text-align: end;
}

div{
    float: left;
    margin-left: 0;
    margin-right: -18%;
    width: 16%;
    background-color: #333;
    border: solid 3px white;
}

div ul li{
    padding: 10px 0;
}
div ul li.aktiv{
    font-weight: bold;
}
div a,
div a:link,
div a:visited{
    color: lightblue;
}
div a:hover{
    text-decoration: underline;
}


table{
    margin: 0;
    padding: 0;
    border: solid 1px #fcc;
    border-collapse: collapse;
}
caption{
    font-size: 22px;
    padding: 5px;
    border: solid 1px #fcc;
    background-color: white;
}
th{
    background-color: #f99;
    color: #066;
}
td{
    padding: 5px;
    border: dashed 1px #fcc;
}
.aside table{
    border: solid 2px blue;
}
.aside table caption{
    color: red;
    padding: 5px;
    font-weight: bold;
}
.aside table th{
    background-color: #ffc;
    color: #66f;
    padding-left: 25px;
    padding-right: 25px;
}
.aside table td{
    background-color: #fff;
    color: #666;
    padding-left: 10px;
}


form fieldset{
    width: 500px;
    padding: 10px;
    margin: 10px;
}

a, a:link, a:visited{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    text-decoration: underline;
}
